# kernel version
# CONFIG_LOCALVERSION_AUTO is not set

# kernel module
# CONFIG_MODULE_SIG is not set
# CONFIG_MODVERSIONS is not set

# force use this kernel argument
# don't skip initramfs!
CONFIG_CMDLINE="rdinit=/sbin/init console=tty1 console=ttyMSM0,115200,n8 earlycon=msm_hsl_uart,0x78B0000 painc=5 firmware_class.path=/vendor/firmware_mnt/image mdss_mdp.panel=1:dsi:0:qcom,mdss_dsi_nvt36525b_hdplus_video_c3i:bklic=24:wpoint=309319:tplock=47353201<3493200:1:none:cfg:single_dsi sched_enable_hmp=1 kpti=0 msm_rtb.filter=0x237 ehci-hcd.park=3 androidboot.hardware=qcom lpm_levels.sleep_disabled=1 androidboot.usbconfigfs=true androidboot.keymaster=1 androidboot.dp=0x0 androidboot.efuse=1 androidboot.baseband=msm"
CONFIG_CMDLINE_FORCE=y

# enable console on screen
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y

# dtb
# fix bootup
# reference: https://github.com/MiCode/Xiaomi_Kernel_OpenSource/issues/1133#issuecomment-552358855
CONFIG_BUILD_ARM_APPENDED_DTB_IMAGE=y
CONFIG_BUILD_ARM64_DT_OVERLAY=y

# usb gadget
CONFIG_USB_CONFIGFS_ACM=y

# debug
CONFIG_DEBUG_DRIVER=y
CONFIG_DEBUG_DEVRES=y
CONFIG_USB_GADGET_DEBUG=y
CONFIG_USB_GADGET_VERBOSE=y
CONFIG_DEBUG_USER=y
CONFIG_KGDB=y
CONFIG_KGDB_SERIAL_CONSOLE=y
CONFIG_DEBUG_INFO=y
CONFIG_MESSAGE_LOGLEVEL_DEFAULT="7"

# power
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE=y

# watchdog
CONFIG_WATCHDOG=y
CONFIG_QCOM_WDT=y

# graphic
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_LOGO=y
