# target
BR2_aarch64=y
BR2_cortex_a53=y

# toolchain
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_9=y

# kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://github.com/MiCode/Xiaomi_Kernel_OpenSource/archive/f3335576f443d206b866b9847ae514ed1b173fe1.tar.gz"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_REDMI8A_PATH)/board/redmi8a/linux/patches"
BR2_LINUX_KERNEL_DEFCONFIG="olive-perf"
BR2_LINUX_KERNEL_ZSTD=y

# package
BR2_PACKAGE_LRZSZ=y

# images
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_ZSTD=y
BR2_TARGET_ROOTFS_INITRAMFS=y

# host
BR2_PACKAGE_HOST_ABOOTIMG=y
BR2_PACKAGE_HOST_ANDROID_TOOLS=y
BR2_PACKAGE_HOST_ANDROID_TOOLS_FASTBOOT=y
